mixin product-card(title, link, item_img)
    .product__item
        h4.product__item--title= title
        .product__item--main
            img.product__item--img(src= item_img)
            .product__item--more
                a.product__item--link(href= link) Подробнее

mixin icon(name,mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)
