section.product
    .container
        h2 Продукция
        .product__items#product

            include ../mixins.pug

            +product-card(
                'Статуэтки',
                'figurines.html',
                'static/img/product/figurines.jpg',
                'Подробнее')

            +product-card(
                'Хрустальные подвески',
                'parts.html',
                'static/img/product/crystal-parts.jpg',
                'Подробнее')

            +product-card(
                'Хрустальная плитка',
                'crys-tail.html',
                'static/img/product/tile-1.jpg',
                'Подробнее')

            +product-card(
                '3D Сувениры',
                '#',
                'static/img/product/3D.jpg',
                'Подробнее')

            +product-card(
                'Светильники',
                'chandeliers.html',
                'static/img/product/chandeliers.jpg',
                'Подробнее')

            +product-card(
                'Стразы',
                '#',
                'static/img/product/fancy-stones-1.jpg',
                'Подробнее')

